/* Параметры шкуры */
body {
    background: url("../i/header/tools.png") no-repeat 180px 0 #fff; 
}

#navbar a {
    color: #010101;
}
#navbar a:hover {
    color: #fffacf;
    background: url('../i/semi-black.png') repeat;
}

#searchbar .options .text {
    color: #010101;
}
#searchbar .options a {
    color: #010101;
}
#searchbar .options a:hover {
    color: #fffacf;
    background: url('../i/semi-black.png') repeat;
}

